.main{
    width: 100%;
    height:1450px;
}
.page{
    width: 100%;
    height:1450px ;
    border: 1px solid black;
}

/* start topbar section */

.topbar{
    width: 100%;
    height: 50px;
    background-color: aqua;
}
topbar #left{
    color: black;
    font-family:arial;
    line-height: 40px;
    margin: 0px 0px 0px 20px;
    float: left;
}
.topbar #right{
    color: black;
    font-family:arial;
    line-height: 40px;
    margin: 0px 10px 10px 0px;
    float: right;
}
/* end topbar section */

/* start of navbar section */
.navbar{
    height: 60px;
    width: 100%;
    background-color: #878787;
}
.navbar ul{
    margin: auto;
   list-style: none;
}
.navbar ul li{
    float: left;
}
.navbar ul li a{
    color: black;
    font-family: arial black;
    font-weight:bold;
    line-height: 60px;
    padding-left: 30px;
    text-decoration: none;
}
/* end of navbar section */
/* Header section */

.header{
    width: 100%;
    height: 300px;
    background-image: url(./images/Untitled\ design.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

 /* End of Header section */

 /* About Us secrion */
.About-us{
    width: 100%;
    height: 100px;
    background-color:#878787;
}
.About-us h2, p{
    font-family: Arial;
}
#owner-image{
    height: 150px;
    border-radius: 50%;
}
/* End of About Us section */

/* Products section */
.products{
    width: 100%;
    height: 900px;
    background-color: antiquewhite;
}
.product-images{
    height: 50px;
    border-radius: 5px;
}
/* End of Product section */
.footer{
    height: 40px;
    width: 100%;
    background-color: aqua;
}